.container {
    display: flex;
    //flex-direction: row;
    justify-content: space-around;
}
.list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.avatar {
  width: 20%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-image {
    /*border-radius: 50%;*/
    width: 100%;
    padding: 10px; 
}

.seperator-button-container-close,  .seperator-button-container-open{
  text-align: center;
  display:flex;
  justify-content: center;
  align-items:center;
  position: relative;
  padding:20px;
}
.seperator-button-container-close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid black;
  background: black;
  width: 100%;
  transform: translateY(-50%);
}
.seperator-button {
  z-index: 1;
  padding: 10px;
  cursor: pointer;
  width: fit-content;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.extended-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  line-height: 150%;
}
.extended-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text{
  width: 40%;
  line-height: 150%;
  font-size: 18px;
  text-align: justify;
}
ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 12px 0;
  box-sizing: border-box;
}

.icon {
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
}