
mat-toolbar {
    /*position: fixed;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;*/
    display: flex;
    background-color: 	snow;
    border-bottom: 1px solid gray;
}


.active, span:hover {
    opacity: 1;
}
.headers {
    width: 100%;
    display: flex;
    justify-content: center;
}
span {
    padding: 10px;
    cursor: pointer;
    opacity: 0.5;
}
.logo {
    cursor: pointer;
}
.logo img{
    width: 40px;
}

.icons img {
    width: 30px;
    padding: 10px;
}