    <div class="container">
        <app-carousel [images]="images" [autoSlide]="true" [controls]="false" id="home"></app-carousel>
        <app-about-me id="about-me"></app-about-me>
        <app-parallax src="assets/img/carousel2.jpg" [height]="50"></app-parallax>
        <app-instagram id="news"></app-instagram>
        <app-parallax src="assets/img/carousel2.jpg" [height]="50"></app-parallax>
        <app-sponsoring id="sponsoring"></app-sponsoring>
        <app-parallax src="assets/img/carousel2.jpg" [height]="50"></app-parallax>
        <app-contact id="contact"></app-contact>
        <div class="footer">
            <p>&copy; Michelle Luisa Heimberg 2022 | Website kreiert von Eric Sommerhalder</p>
        </div>
    </div>


