.logo-top {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    width: 20%;
}
.container {
    background-color: snow;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 88px;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: gray;
}
.footer p {
    margin: 5px;
}