.image-container img, video {
    max-width: 400px;
    max-height: 400px;
    opacity: 1;
}
.image-grid {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: fit-content;
}
.container {
  display: flex;
  justify-content: center;
}
.image-container {
    width: 400px;
    height: 400px;
    padding: 5px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-image {
  position: relative;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
}
.icon-image:hover img {
  opacity:0.3;
}
.icon-image:hover .caption-container {
  opacity: 1;
}
.caption-container {
  position: absolute;
  top:50%;
  left:50%;
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.pop-up {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: snow;*/
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
  }
  .modal-media {
    max-width: 80%;
    max-height: 80%;
    height: 80%;
    cursor: pointer;
  }
  .carousel-viewer {
    position: relative;
    height: 80%;
    max-width: 100%;
    overflow: hidden;
  }
  .carousel-viewer img, .carousel-viewer video {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    cursor: pointer;
  }
  .modal-sidebar {
    width: 25%;
    height: 80%;
    background: snow;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    overflow: hidden;
  }
  .modal-sidebar-container {
    max-height: 100%;
    text-align: center;
    padding: 10px;
  }

  .modal-header {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: larger;
  }
  .modal-header:hover {
    text-decoration: underline;
  }
  /* The Close Button */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .icon-carousel {
    color: rgb(0, 0, 0);
    opacity: 0.5;
    transition: all 0.15s ease;
}

.icon-carousel:hover {
    
    opacity: 0.9;
}

.icon-carousel:active {
    opacity: 0.5;
}

.icon-prev, .icon-next {
    font-size: 35px;
}
.btn-prev {
    left: 10%;
}

.btn-next {
    right: 10%;
}
.btn-carousel {
    position: absolute;
    top: 42%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    height: 8%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    cursor: pointer;
}